In [1]:
import pandas as pd

In [8]:
data_1 = pd.read_csv('./data/1.csv')

In [9]:
data_2 = pd.read_csv('./data/2.csv')

In [10]:
data_3 = pd.read_csv('./data/3.csv')

In [11]:
data_4 = pd.read_csv('./data/4.csv')

In [12]:
data_5 = pd.read_csv('./data/5.csv')

In [13]:
data_6 = pd.read_csv('./data/6.csv')

In [15]:
data_1['type'] = 'spam'

In [16]:
data_2['type'] = 'sport'

In [17]:
data_3['type'] = 'news'

In [18]:
data_4['type'] = 'paty'

In [32]:
data_5['type'] = 'fotbal'

In [33]:
data_6['type'] = 'humor'

In [34]:
data_all = pd.concat([data_1, data_2, data_3, data_4, data_5, data_6], axis=0, join='outer', ignore_index=True)

In [35]:
data_all.head()

,doc_text,image2text,speech2text,type
0,–¢–≤–æ–π –ª—É—á—à–∏–π —Å–µ–∫—Å —Å–ø—Ä—è—Ç–∞–Ω –∑–¥–µ—Å—å üîû –î–µ–ª—é—Å—å –∫–∞–Ω–∞–ª...,NaN,NaN,spam
1,‚≠êÔ∏è –ö–Ω–æ–ø–∫–∞: ‚≠êÔ∏èSTART‚≠êÔ∏è(https://t.me/major/start...,NaN,NaN,spam
2,–ê –ø—Ä–æ–¥–æ–ª–∂–µ–Ω–∏–µ –≥–¥–µ? –ü—Ä–∞–≤–∏–ª—å–Ω–æ. –í –º–æ–µ–º —Å–æ–æ–±—â–µ—Å—Ç–≤...,–¥–µ–≤—á–æ–Ω–∫–∏ –Ω–µ —É–º–µ—é—Ç –ø–µ—Ä–µ–ø–∏—Å—ã–≤–∞—Ç—å—Å—è sanille –æ–Ω–∏ —ç...,NaN,spam
3,–¢–µ–º –≤—Ä–µ–º–µ–Ω–µ–º –º–æ—è –∞–≤—Ç–æ—Ä—Å–∫–∞—è —Ç–µ–ª–µ–≥–∞ —É–≤–µ—Ä–µ–Ω–Ω–æ –≤ —Ç...,10:42 nuil –ø—É–ª telegram ^ 51 142 –ø–æ–¥–ø–∏—Å—á–∏–∫–∞ 12...,NaN,spam
4,"–£ –º–µ–Ω—è –µ—Å—Ç—å –¥–≤–æ—é—Ä–æ–¥–Ω–∞—è —Å–µ—Å—Ç—Ä–∞, —É –Ω–µ–µ –µ—Å—Ç—å —Å—ã–Ω ...","—Ç —Å –Ω–µ ^ –µ z 8 * \""8 –Ω–∏—á–µ–≥–æ –Ω–µ –∑–Ω–∞–ª–∞ –æ —Å—Ç–µ–Ω–¥–∞–ø...",NaN,spam

In [36]:
data_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   doc_text     6000 non-null   object
 1   image2text   3420 non-null   object
 2   speech2text  1871 non-null   object
 3   type         6000 non-null   object
dtypes: object(4)
memory usage: 187.6+ KB

In [37]:
data_all.isnull().sum()

doc_text          0
image2text     2580
speech2text    4129
type              0
dtype: int64

In [38]:
data_all['type'].unique()

array(['spam', 'sport', 'news', 'paty', 'fotbal', 'humor'], dtype=object)